{% if messages %} {% comment %} loop messages {% endcomment %} 
{% for message in messages %}

<div class="container" id="message" style="position: absolute;z-index: 1;left:50%;transform:translateX(-50%)">
  <div
    class="alert alert-{{ message.tags }} alert-dismissible text-center"
    role="alert"
  >
    <button class="close" type="button" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
      Error: {% else %} 
      {{ message.tags | title }} {% endif %}
    </strong>
    {{ message }}
  </div>
</div>

{% endfor %} {% endif %}
